

.primary-header-menu-item {
  font-weight: bold;
}

.primary-header-menu-item:hover {
  color: #65AC00 !important;
}

.headerButton{
  background-color: #65AC00;
  font-size: 18px;
  border-radius:7px;
  color: #ffffff;
  border:0
}
.headerButton:hover{
  background-color: #0097BA;
  color: #ffffff;
}
.ant-collapse-header{
  color:#ffffff !important;
  background-color: #65AC00 !important;

}
.ant-collapse-header:focus{
  color: #65AC00 !important;
  background-color: #ffffff  !important;

}
.ant-collapse-content{
  background-color: #ffffff !important;
  color: #65AC00 !important;
}
.ant-tooltip{
  --antd-arrow-background-color: 0;
}

 

/*.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  list-style: none;
  list-style-type: none;
  text-align: center;
  margin-top: 40px;
} */ 

